/* LESS */
@animation-duration: .3s;
@default-easing: ease-out;

.transition(@property, @duration: @animation-duration, @easing: ease-out) {
  -moz-transition-property: @property;
  -moz-transition-duration: @duration;
  -moz-transition-timing-function: @easing;

  -o-transition-property: @property;
  -o-transition-duration: @duration;
  -o-transition-timing-function: @easing;

  -webkit-transition-property: @property;
  -webkit-transition-duration: @duration;
  -webkit-transition-timing-function: @easing;

  transition-property: @property;
  transition-duration: @duration;
  transition-timing-function: @easing;
}

.transition-transform(@duration: @animation-duration, @easing: ease-out) {
  -moz-transition: -moz-transform @duration @easing;
  -webkit-transition: -webkit-transform @duration @easing;
  /*-o-transition: -o-transform @duration @easing;*/
  transition: transform @duration @easing;
}

/* RESET */
body, h1, h2, h3, h4, h5, h6, div, ul, ol, li {
  border: 0;
  font-family: Helvetica, Arial;
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* NORMAL */
body {
  background-color: #fff;
  text-align: center;
}

#coverflow-covers {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#coverflow-covers li {
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;

  .transition(left);
}

.coverflow-cover > * {
  -moz-transition-property: width, height, -moz-transform;
  -moz-transition-duration: @animation-duration;
  -moz-transition-timing-function: @default-easing;

  /*
  -o-transition-property: width, height, -o-transform;
  -o-transition-duration: @animation-duration;
  -o-transition-timing-function: @default-easing;
  */

  -webkit-transition-property: width, height, -webkit-transform;
  -webkit-transition-duration: @animation-duration;
  -webkit-transition-timing-function: @default-easing;

  transition-property: width, height, transform;
  transition-duration: @animation-duration;
  transition-timing-function: @default-easing;

  -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}
