/* LESS */
@animation-duration: .3s;

.transition(@property, @duration: @animation-duration, @easing: ease-out) {
  -moz-transition: @property @duration @easing;
  -webkit-transition: @property @duration @easing;
  transition: @property @duration @easing;
}

.transition-transform(@duration: @animation-duration, @easing: ease-out) {
  -moz-transition: -moz-transform @duration @easing;
  -webkit-transition: -webkit-transform @duration @easing;
  transition: transform @duration @easing;
}

/* RESET */
body, h1, h2, h3, h4, h5, h6, div, ul, ol, li {
  border: 0;
  font-family: Helvetica, Arial;
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* NORMAL */
body {
  background-color: #000;
  overflow: hidden;
  text-align: center;
}

#coverflow-container {
  /*display: none;*/
  margin: 0 auto;
  width: 100%;
  /*overflow: hidden;*/
}

#coverflow-covers {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#coverflow-covers li {
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;

  /*-moz-transform: matrix(1, 0, 1, 0, 0, 0);*/
  -moz-perspective: 150px;
  .transition(left);
}

#coverflow-covers img {
  .transition-transform;
  -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}
