/* LESS */
@animation-duration: .3s;

.transition(@property, @duration: @animation-duration, @easing: ease-out) {
  -moz-transition: @property @duration @easing;
  -webkit-transition: @property @duration @easing;
  transition: @property @duration @easing;
}

.transition-transform(@duration: @animation-duration, @easing: ease-out) {
  -moz-transition: -moz-transform @duration @easing;
  -webkit-transition: -webkit-transform @duration @easing;
  transition: transform @duration @easing;
}

/* RESET */
body, h1, h2, h3, h4, h5, h6, div, ul, ol, li {
  border: 0;
  font-family: Helvetica, Arial;
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* NORMAL */
body {
  background-color: #000;
  padding-top: 100px;
}

#coverWrapper {
  /*display: none;*/
  position: relative;
  height: 640px;
}

#covers {
  min-height: 640px;
}

#covers li {
  float: left;
  min-width: 640px;
  position: absolute;
  bottom: 0;
  left: 0;

  /*-moz-transform: matrix(1, 0, 1, 0, 0, 0);*/
  -moz-perspective: 150px;
  .transition(left);
}

#covers img {
  .transition-transform;
}

#covers img:hover {
  -moz-transform: rotateY(0);
}
